* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  text-decoration: none;
}
html {
  font-size: 62.5%;
  font-family: var(--primary-font);
  background-color: rgb(243, 243, 243);
}
:root {
  --primary-font: 'Roboto', sans-serif;
}
h1 {
  font-size: 2.6rem;
}
h2 {
  font-size: 2.2rem;
}
h3 {
  font-size: 1.8rem;
}
h4 {
  font-size: 1.5rem;
}
p {
  font-size: 1.6rem;
}

/* HEADER */
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70px;
  background-color: black;
  font-weight: 500;
}
.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline-start: 10px;
}
.header__logo a {
  display: flex;
  width: 100px;
}
.header__logo img {
  width: inherit;
}
.header__nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 280px;
  margin-inline-end: 10px;
  margin-block-start: 8px;
}
.header__nav a {
  font-size: 1.3rem;
  text-decoration: none;
  color: white;
  padding: 20px 10px;
}

/* MAIN */
.content__container {
  display: flex;
  flex-direction: column;
}
.main__posts--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 0px 20px 0px;
}
.main__posts--container h2 {
  font-size: 2.8rem;
  margin: 30px 0px;
}
.main__posts {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.post {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 290px;
  height: 280px;
  margin: 10px;
  background-color: white;
  border-radius: 10px;
  color: black;
}
.post img {
  width: 290px;
  height: 150px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover;
}
.post__text {
  margin: 0px 10px 0px 10px;
}
.post__text h3 {
  font-size: 1.5rem;
  margin: 5px 0px;
}
.post__text > p {
  margin: 5px 0;
  font-size: 1.1rem;
}
.post__text span {
  color: gray;
  font-size: 1rem;
}
.post__text--tags {
  display: flex;
  margin: 5px 0px;
  align-items: center;
}
.post__text--tags h4 {
  font-size: 1.3rem;
}
.post__text--tags p {
  font-size: 1.1rem;
  margin: 0px 2px;
  padding: 3px;
  border-radius: 10px;
  background-color: rgb(233, 147, 147);
  color: rgb(0, 0, 0);
}
.main__extra--container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main__contact {
  display: flex;
  flex-direction: column;
  align-items: center ;
}
.main__contact h2 {
  margin-block-end: 10px;
}
.main__contact--container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main__contact--container a {
  width: 135px;
  height: 50px;
  background-color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: black;
  margin: 5px;
  border-radius: 10px;
}
.main__contact--container a img {
  width: 25px;
  height: 25px;
  margin-inline-end: 5px;
  margin-inline-start: 20px;
}

.main__portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main__portfolio h2 {
  margin: 15px;
}
.main__portfolio a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 200px;
  height: 140px;
  border-radius: 10px;
  margin:0px 0px 10px 0px;
  color: black;
}
.main__portfolio img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.main__portfolio h4 {
  margin: 5px;
}
.main__portfolio p {
  font-size: 1.2rem;
}

aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 5px;
}
aside h2 {
  margin: 30px 0px 15px 0px;
}
.main__extra--info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block: 10px;
  margin-block-end: 30px;
}
.extra__improvements {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 10px;
  margin-inline: 20px;
  width: 200px;
}
.main__extra--info h2 {
  text-align: center;
  padding: 5px;
  margin: 0;
  margin-block-end: 5px;
}
.main__extra--info h4 {
  border-block-end: 2px solid black;
  text-align: center;
  padding: 5px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: rgb(255, 98, 98);
}
.main__extra--info ul {
  padding: 10px;
}
.main__extra--info li {
  margin-inline-start: 30px;
  font-size: 1.1rem;
}

/* FOOTER */
.footer__info {
  width: 100%;
  height: 80px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
}
.footer__info a {
  color: white;
  min-width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 500ms;
}
.footer__info a:hover {
  font-size: 1.5rem;
  text-decoration: underline;
}
.footer__info span {
  color: red;
  margin-inline-start: 5px;
  font-size: 1.6rem;
  font-weight: bold;
  text-decoration: underline;
}